#hero {
 padding-top: 10rem !important;
 padding-bottom: 7rem !important;
}

#about {
 margin-top: 3rem !important;
 margin-bottom: 3rem !important;
 padding-top: 5rem !important;
 padding-bottom: 7rem;
}

#stack {
 margin-top: 3rem !important;
 margin-bottom: 3rem !important;
 padding-top: 5rem !important;
 padding-bottom: 7rem;
}

#proj {
 margin-top: 3rem !important;
 margin-bottom: 3rem !important;
 padding-top: 5rem !important;
 padding-bottom: 7rem;
}

#cert {
 margin-top: 3rem !important;
 margin-bottom: 3rem !important;
 padding-top: 5rem !important;
 padding-bottom: 7rem;
}

.tech-bg-icon {
 width: 6rem;
 height: 6rem;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 10px;
 cursor: pointer;
}